cmake_minimum_required(VERSION 3.20)

project(
  <%project-name%>
  VERSION 1.0
  LANGUAGES CXX
)

<%if include-tests%>
option(<%upper(project-name)%>_INCLUDE_TESTS "Include test targets in the build" ON)
<%endif%>

set(CMAKE_CXX_STANDARD 23)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

set(CMAKE_EXPORT_COMPILE_COMMANDS 1)

add_subdirectory(src)

<%if(include-tests)%>
if(<%upper(project-name)%>_INCLUDE_TESTS)
  include(CTest)
  add_subdirectory(tests)
endif()
<%endif%>
